@model IEnumerable<CommunityPartners.Models.DonateServicePartners>
@{
    ViewData["Title"] = "ViewWhoAccepted";
    Layout = "~/Views/Shared/ViewWhoAcceptedOffer.cshtml";
}

<h1>ViewWhoAccepted</h1>

