@model CommunityPartners.Models.Partner

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Partner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="PartnerPhone" class="control-label"></label>
                <input asp-for="PartnerPhone" class="form-control" />
                <span asp-validation-for="PartnerPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReOccurringDayRequest" class="control-label"></label>
                <input asp-for="ReOccurringDayRequest" class="form-control" />
                <span asp-validation-for="ReOccurringDayRequest" class="text-danger"></span>
            </div>
           
            
           
           
            <div class="form-group">
                <label asp-for="PartnerAddress" class="control-label"></label>
                <input asp-for="PartnerAddress" class="form-control" />
                <span asp-validation-for="PartnerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnerCity" class="control-label"></label>
                <input asp-for="PartnerCity" class="form-control" />
                <span asp-validation-for="PartnerCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnerState" class="control-label"></label>
                <input asp-for="PartnerState" class="form-control" />
                <span asp-validation-for="PartnerState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnerZip" class="control-label"></label>
                <input asp-for="PartnerZip" class="form-control" />
                <span asp-validation-for="PartnerZip" class="text-danger"></span>
            </div>
          
          
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
