@model CommunityPartners.Models.Partner

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Partner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PartnerId" />
            <div class="form-group">
                <label asp-for="IdentityUserId" class="control-label"></label>
                <select asp-for="IdentityUserId" class="form-control" asp-items="ViewBag.IdentityUserId"></select>
                <span asp-validation-for="IdentityUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeLocationId" class="control-label"></label>
                <input asp-for="HomeLocationId" class="form-control" />
                <span asp-validation-for="HomeLocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnerPhone" class="control-label"></label>
                <input asp-for="PartnerPhone" class="form-control" />
                <span asp-validation-for="PartnerPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReOccurringDayRequest" class="control-label"></label>
                <input asp-for="ReOccurringDayRequest" class="form-control" />
                <span asp-validation-for="ReOccurringDayRequest" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RequestReceiveOrDonate" /> @Html.DisplayNameFor(model => model.RequestReceiveOrDonate)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AmountDonated" class="control-label"></label>
                <input asp-for="AmountDonated" class="form-control" />
                <span asp-validation-for="AmountDonated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Itemdonated" class="control-label"></label>
                <input asp-for="Itemdonated" class="form-control" />
                <span asp-validation-for="Itemdonated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MilesTravelled" class="control-label"></label>
                <input asp-for="MilesTravelled" class="form-control" />
                <span asp-validation-for="MilesTravelled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnerAddress" class="control-label"></label>
                <input asp-for="PartnerAddress" class="form-control" />
                <span asp-validation-for="PartnerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnerCity" class="control-label"></label>
                <input asp-for="PartnerCity" class="form-control" />
                <span asp-validation-for="PartnerCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnerState" class="control-label"></label>
                <input asp-for="PartnerState" class="form-control" />
                <span asp-validation-for="PartnerState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnerZip" class="control-label"></label>
                <input asp-for="PartnerZip" class="form-control" />
                <span asp-validation-for="PartnerZip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnerLong" class="control-label"></label>
                <input asp-for="PartnerLong" class="form-control" />
                <span asp-validation-for="PartnerLong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnerLat" class="control-label"></label>
                <input asp-for="PartnerLat" class="form-control" />
                <span asp-validation-for="PartnerLat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayPalId" class="control-label"></label>
                <input asp-for="PayPalId" class="form-control" />
                <span asp-validation-for="PayPalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionHistory" class="control-label"></label>
                <input asp-for="TransactionHistory" class="form-control" />
                <span asp-validation-for="TransactionHistory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
