<style>
    /* Set the size of the div element that contains the map */
    #map {
        height: 400px; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    }
</style>
<!--The div element for the map -->
<div id="map"></div>
<br />
<br />
<a asp-action="SelectState">Your Partners in the USA!!!</a>

<script>
// Initialize and add the map
    function initMap() {
        var address = { lat: 40.432987 , lng: -104.746994};
        var map = new google.maps.Map(
            document.getElementById('map'), { zoom: 10, center: address });
      @foreach(Partner result in Model)
{
<text> addMarker({
coords: { lat: @result.PartnerLat, lng: @result.PartnerLong },

});</text>
}
function addMarker(props) {
var marker = new google.maps.Marker({ position: props.coords, map: map });
if (props.content) {
var infoWindow = new google.maps.InfoWindow({
content: props.content
});
marker.addListener('click', function () {
infoWindow.open(map, marker)
});
}
}
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=@APIKEYS.GoogleAPIKey&callback=initMap"
        async defer></script>

