
@{
    ViewData["Title"] = "SelectRating";
    Layout = "~/Views/Shared/PartialForFilterRating.cshtml";
}

<h1>Select Rating</h1>

<h4>RateService</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SelectRating">
           


            @*<div class="form-group">
                <label asp-area="" asp-controller="RateSerices" asp-action="SelectRating"></label>
                <input asp-area="" asp-controller="RateServices" asp-action="SelectRating" class="form-control" />
                <span  asp-area="" asp-controller="RateServices" asp-action="SlectRating" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                    <label asp-for="Rating" class="control-label"></label>
                    <select asp-for="Rating" class="form-control" asp-items="ViewBag.RateServiceId"></select>
                </div>*@

        
            <div class="custom-select" style="width:200px;">
                <select>
                    <option value="0">Select rating:</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>

                </select>
                <input type="submit" value="SelectRating" class="btn btn-primary" />

            </div>
</form>
    </div>
</div>

