@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Time to Feel Some Love</h1>
    <p>Learn about <a href="https://lybargerp2000.github.io/BioWebsite/">Patrick Lybarger</a>.</p>
</div>
