@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Community Partners, Helping You and Others</h1>
        <p>Learn about <a href="https://lybargerp2000.github.io/BioWebsite/">Patrick Lybarger</a>.</p>
        <img src="~/lib/CCPic2.jpg" style="width:300px;height:450px">
    </div>
