@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrapLux.min.css" />
    <link rel="stylesheet" href="~/css/styles22.css" />
</head>
<body>


    <div class="text-center">
        <h1 class="display-4">Community Partners, Helping You and Others</h1>
        <p>Learn about <a href="https://lybargerp2000.github.io/BioWebsite/">Patrick Lybarger</a>.</p>
        <img src="~/lib/CCPic2.jpg" style="width:300px;height:450px">
    </div>
</body>

