@model CommunityPartners.Models.RequestServicePartners

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/ViewRequestservicePartners.cshtml";
}

<h1>Create</h1>

<h4>RequestServicePartners</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PartnerId" class="control-label"></label>
                <input asp-for="PartnerId" class="form-control" />
                <span asp-validation-for="PartnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestServiceId" class="control-label"></label>
                <input asp-for="RequestServiceId" class="form-control" />
                <span asp-validation-for="RequestServiceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProposalDate" class="control-label"></label>
                <input asp-for="ProposalDate" class="form-control" />
                <span asp-validation-for="ProposalDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Accepted" /> @Html.DisplayNameFor(model => model.Accepted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="RatingHelpfulnessId" class="control-label"></label>
                <input asp-for="RatingHelpfulnessId" class="form-control" />
                <span asp-validation-for="RatingHelpfulnessId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayPalId" class="control-label"></label>
                <input asp-for="PayPalId" class="form-control" />
                <span asp-validation-for="PayPalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
