@model CommunityPartners.Models.Partner
@{
    ViewData["Title"] = "SelectState";
    Layout = "~/Views/Shared/ViewLocationDonatePartners.cshtml";
}

<style>
    /* Set the size of the div element that contains the map */
    #map {
        height: 400px; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    }
</style>
<!--The div element for the map -->
<div id="map"></div>
<br />
<br />
<a asp-action="SelectRadius" asp-area="" asp-controller="MapView">Select Radius</a>


<script>
// Initialize and add the map
    function initMap() {
        var address = { lat:@Model.PartnerLat , lng: @Model.PartnerLong};
        var map = new google.maps.Map(
            document.getElementById('map'), { zoom: 15, center: address });
        var marker = new google.maps.Marker({
            position: address,
            map: map,
            title: 'Your Location!!'
        });
    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=@APIKEYS.GoogleAPIKey&callback=initMap"
        async defer></script>






